footer {
  text-align: right;

  font-size: 15px;
}
.container {
  border: 5px;
  border-color: black;
  padding: 50;
  margin: 10px;
}
h6 {
  text-align: right;
}
a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  max-width: 630px;
  display: block;
  margin: 0 auto;
  background-color: lavender;
}
.temperature {
  font-size: x-large;
}
.units {
  font-size: medium;
  text-decoration: none;
  position: relative;
  top: -5px;
}
.current-location {
  border-style: none;
}
